.color1 {
    background-color: #58781E;
}

.color2 {
    background-color: #DCE9C2;
}


.image1 {
    width: 640px;
    height: 1137px;
}

.image2{
    width: 640px;
    height: 960px;
}

.height {
    height: 1200px;
}

.paddingHome {
    padding-left: 125px;
    padding-right: 125px;
}

.back {
    z-index: -1;
}